@model SistemaWebMisRecetas.Models.Receta


@{
    ViewData["Title"] = "Detalle Receta";
}

<h2>Ver Detalle</h2>
@Html.ActionLink("Volver a Index", "Index", "Receta")

<p>
    @Html.DisplayNameFor(model => model.Nombre)
    @Html.DisplayFor(model => model.Nombre)
</p>

<p>
    @Html.DisplayNameFor(model => model.Categoria)
    @Html.DisplayFor(model => model.Categoria)
</p><p>
    @Html.DisplayNameFor(model => model.Ingredientes)
    @Html.DisplayFor(model => model.Ingredientes)
</p><p>
    @Html.DisplayNameFor(model => model.Instrucciones)
    @Html.DisplayFor(model => model.Instrucciones)
</p><p>
    @Html.DisplayNameFor(model => model.Autor)
    @Html.DisplayFor(model => model.Autor)
</p><p>
    @Html.DisplayNameFor(model => model.Apellido)
    @Html.DisplayFor(model => model.Apellido)
</p>
<p>
    @Html.DisplayNameFor(model => model.Edad)
    @Html.DisplayFor(model => model.Edad)
</p><p>
    @Html.DisplayNameFor(model => model.Email)
    @Html.DisplayFor(model => model.Email)
</p>

@section SideBar
    {
    <div>

        @Html.ActionLink("Volver", "Index", "Receta")
    </div>
    }